$blue: #003399;
$white: #fcfcfc;
$orange: #ffaa75;
$green: #a3d962;
$grey: #808080;
$title-font: 48px 'Raleway', sans-serif;
$sub-font: 36px 'Raleway', sans-serif;
$nav-font: 24px 'Raleway', sans-serif;
$padding: 20px;

body {
  background-color: $white;
  color: $blue;
}
li {
  top: 8px;
  padding-right: $padding;
  display: inline-block;
  font: $nav-font;
}
.navbar {
  margin: 0;
  padding: 0;
}
.intro-section {
  h1 {
    font: $title-font;
    font-weight: bold;
  }
  background: url('./vb_background.jpg') center center;
  height: 700px;
  text-align: center;
}
@keyframes rubberBounceDown {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(0) scaleX(1) scaleY(1);
  }
  30%{
    opacity: 1;
    transform: translateY(300px) translateX(200px) scaleX(1) scaleY(1);
  }
  32%{
    opacity: 1;
    transform: translateY(300px) translateX(200px) scaleX(1.1) scaleY(.9);
  }
  51% {
    opacity: 1;
    transform: translateY(150px) translateX(400px) scaleX(1) scaleY(1);
  }
  54% {
    opacity: 1;
    transform: translateY(160px) translateX(410px) scaleX(1) scaleY(1);
  }
  70% {
    opacity: 1;
    transform: translateY(300px) translateX(600px) scaleX(1) scaleY(1);
  }
  70% {
    opacity: 1;
    transform: translateY(300px) translateX(600px) scaleX(1.1) scaleY(.9);
  }
  87% {
    opacity: 1;
    transform: translateY(225px) translateX(750px) scaleX(1) scaleY(1);
  }
  89% {
    opacity: 1;
    transform: translateY(235px) translateX(760px) scaleX(1) scaleY(1);
  }
  100% {
    opacity: 1;
    transform: translateY(300px) translateX(900px) scaleX(1) scaleY(1);
  }
}
#gym {
  height: 400px;
  width: 1000px;
  margin:auto;
}
#ball {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: rubberBounceDown 3s linear infinite;
}
h2 {
  font: $sub-font;
}
.about-section {
    padding-left: $padding * 2;
    padding-right: $padding * 2;
}
.season-section {
  padding: $padding;
}
.join-section {
  background: $orange;
  padding: $padding;
}
.contact-section {
  color: $white;
  background: $grey;
  padding: $padding;
}

a {
    color: $blue;
}
